{% extends 'base.html.twig' %}

{% block title %}Hello SeanceController!{% endblock %}

{% block body %}






    <img class="trace" src="img/Trace_5.png">
    <div class="main">
        <a href="../home"><div class="flex"><img src="img/contour-du-bouton-circulaire-fleche-droite.png"><h3>Retour en arrière</h3></div></a>
        <h1>Sonic 2 le film</h1>

        <div class="row">
            <img class="sonic" src="img/sonic.jpg">
            <div class="column">
                <div class="space"><h3>Sortie : </h3><p> 30 mars 2022</p></div>
                <div class="space"><h3>Animation, Famille, Aventure : </h3><p> (2h 02min)</p></div>
                <div class="space"><h3>De : </h3><p> Jeff Fowler</p></div>
                <div class="space"><h3>Avec : </h3><p> Malik Bentalha , Marie-Eugénie Maréchal , Emmanuel Curtil</p></div>
                <div class="space"><h3>Synopsis : </h3><p>Bien installé dans la petite ville de Green Hills, Sonic veut maintenant prouver qu’il a l’étoffe d' un véritable héros. Un défi de taille se présente à lui quand le Dr Robotnik refait son apparition. Accompagné de son nouveau complice Knuckles, ils sont en quête d’une émeraude dont le pouvoir permettrait de détruire l’humanité toute entière. Pour s’assurer que l’émeraude ne tombe entre de mauvaises mains, Sonic fait équipe avec Tails. Commence alors un voyage à travers le monde, plein de péripéties.</p></div>
            </div>
        </div>
        <a href="https://www.youtube.com/watch?v=SqH3-sCkZQw" class="btn">Voir la bande d'annonce</a>
        <div class="column">
            <h2>Séances</h2>
            <div class="spaced">
                <div class="column">
                    <h4>Lido</h4>
                    <p>Place Jacques-Tatti</p>
                    <p>94100 Saint-Maur-des-Fossés</p>

                </div>
                <div class="flex">
                    <a href="../tarif" class="btn2">11h VF</a>
                    <a href="../tarif" class="btn2">13h40 VF</a>
                    <a href="../tarif" class="btn2">16h05 VF</a>
                    <a href="../tarif" class="btn2">20h30 VF</a>
                </div>
            </div>
            <div class="spaced">
                <div class="column">
                    <h4>Delta</h4>
                    <p>81 ter, avenue du Bac</p>
                    <p>94100 Saint-Maur-des-Fossés</p>

                </div>
                <div class="flex">
                    <a href="../tarif" class="btn2">11h VF</a>
                    <a href="../tarif" class="btn2">13h40 VF</a>
                    <a href="../tarif" class="btn2">16h05 VF</a>
                    <a href="../tarif" class="btn2">20h30 VF</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
