{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}

<style>
h1 {
    color: black;
    padding-left: 8%;
    padding-top: 50px;
    padding-bottom: 50px;
}

p.cancelling {
    padding-left: 10%;
    padding-bottom: 30px;
}

</style>

    {{ parent() }}

    <h1>Merci pour votre tentative de commande !</h1>
    <p class="cancelling">
        Nous vous remercions de votre confiance !
                Mais votre paiement a échoué :(
        <a href="mailto:louinourry@hotmail.fr">louinourry@hotmail.fr</a>.
    </p>

<div>

</div>
{% endblock %}