{% extends 'base.html.twig' %}

{% block title %}Payment Success!{% endblock %}

{% block body %}

<style>
h1 {
    color: black;
    padding-left: 8%;
    padding-top: 50px;
    padding-bottom: 50px;
}

p.cancelling {
    padding-left: 10%;
    padding-bottom: 30px;
}

</style>



    <h1>Thanks for your order!</h1>
    <p class="cancelling">
        Nous vous remercions de votre confiance !
        Si vous avez des questions, veuillez envoyer un courriel à
        <a href="mailto:louinourry@hotmail.fr">louinourry@hotmail.fr</a>.
    </p>

<div>

</div>
{% endblock %}